version: '3.8'
services:
 node-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      NODE_ENV: production
    depends_on:
      - mongo
      - redis
 mongo:
    image: mongo
    ports:
      - "27017:27017"
    logging:
      driver: none
 redis:
    image: redis
    ports:
      - "6379:6379"
    logging:
      driver: none